*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.formulaire{
    margin-top: 50px;

}


