*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
}

h1{
    text-align: center;
    margin-top: 30px;
}


.table{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  

}
.table, th, td{   
    padding: 10px;
    
}
th, td{
    border: 1px solid;
    border-color: white;

}
#no-selection{
    text-align: center;
    font-size: x-large;
    color: red;
}
