*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: rgb(187, 184, 184);
}

h1{
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}


.table{
    width: 100%;
    text-align: center;
    font-size: 25px;
    
    margin-top: 30px;
  

}
.table, th, td{   
    padding: 10px;
    
}
th, td{
    border: 1px solid;
    border-color: rgb(163, 161, 161);
    

}
#no-selection{
    text-align: center;
    font-size: x-large;
    color: red;
}

td:hover{
    background-color:darkslategray;
}
